* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.NM_head {
  width: 100%;
  height: 78px;
  background-color: #fff;
  margin: 0 auto;
  border-bottom: 1px solid #dbdbdb;

}

.head_sx>img {
  position: absolute;
  top: -26px;
  left: -203px;
  width: 200px;

}

/* .NM_loog{
  display:block;
  position: absolute;
  top :0px;
  left:0px;
  width:102px;height:43px;
  background-image:url(../Timg/logo_l.png);
  background-position:100px -19px; 
  margin-left:-120px; 
  margin-top: -15px;
} */
.head_sx {
  float: left;
  margin-left: 232px;
  margin-top: 38px;
  border-left: 1px solid #C9C9C9;
  position: relative;
}

.NM_head_font {
  font-size: 18px;
  color: #666666;
  margin-top: 30px;
  margin-left: 15px;
}

.head_denglu {
  width: 1210px;
  height: 60px;
  margin: auto;
}

.NM_head_right {
  float: right;
  margin-right: 105px;
  margin-top: 27px
}

.NM_head_right_login {
  display: inline-block;
  border: 1px solid #DDD;
  line-height: 30px;
  height: 30px;
  margin-left: 5px;
  color: #666;
  border-radius: 3px;
  width: 62px;
  text-align: center;
}

.NM_head_right>span {
  font-size: 13px;
}

._body {
  background: #F5FBFD;
  border-bottom: 5px solid #DBDBDB;
}

._body_center {
  width: 1210px;
  margin: 0 auto;
  padding-bottom: 70px;
}

._body>._body_center>img {
  margin: 45px 0 0 120px;
}

._body_login {
  float: right;
  width: 279px;
  height: 319px;
  border: 1px solid #eee;
  background-color: #fff;
  margin: 50px 100px 0 0;
  padding: 20px 14px;
  position: relative;
}

._body_login_phone>a>img {
  width: 15px;
  vertical-align: middle;
}

._body_login_phone>a {
  color: #666;
  font-size: 14px;
}

._body_login_phone {
  text-align: right;
}

._body_login>h3 {
  margin: 0 0 20px 0;
  color: #666;
}

._body_login_input_2,
._body_login_input_1 {
  width: 222px;
  height: 16px;
  padding: 11px 20px 11px 35px;
  border: 1px solid #F0F0F0;
  outline: 0;
  margin-bottom: 20px;

}

._body_login_pwd,
._body_login_use {
  display: inline-block;
  width: 30px;
  height: 21px;
}

._body_login_use_focus,
._body_login_use {
  background-image: url(../Timg/login/user_z_fe074f3.png);
  background-position: 24px -94px;
  position: absolute;
  top: 95px;
  left: 15px;
}

/* ._body_login_use_focus{
  background-position:24px -94px;
 } */
._body_login_pwd_focus,
._body_login_pwd {
  background-image: url(../Timg/login/user_z_fe074f3.png);
  background-position: 25px -134px;
  position: absolute;
  top: 154px;
  left: 15px;
}

/* ._body_login_pwd_focus{
  background-position:25px -156px;
 } */
._body_login_wenti {
  margin-left: 94px;
  font-size: 14px;
  color: #73adc9;
}

#_body_login_checkbox {
  font-size: 13px;

}

/*注册按钮*/
.btn {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  border: 0;
  outline: none;
  background-color: #ff6699;
  font-size: 16px;
  color: #fff;
  margin-top: 30px;
}

.btn:hover {
  cursor: pointer;
  /* background-color:; */
}

._checkbox_font {
  height: 14px;
  line-height: 14px;
}

.xin_lang,
.qq_iogin {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 310px;
  left: 20px;
  background: url(../Timg/login/pass_login_icons.png);
  background-position: -90px -1px;
}

.xin_lang {
  top: 310px;
  left: 60px;
  background-position: -64px -1px;
}

.footer_bottom {
  text-align: center;
  margin-top: 42px;
  color: #666;
  font-size: 13px;
}

.footer_bottom>a {
  font-size: 13px;
  color: #666;
}

.footer_bottom>span {
  font-size: 12px;
  color: #ccc;
  display: inline-block;
  margin: 0 12px;
}

#kefu {
  color: #FD678C;
  margin: 0;
}

._copy {
  text-align: center;
  margin-top: 43px;
}

._footer>._copy>a,
._footer>._copy>span {
  color: #999;
  font-size: 13px;
}

/* 页面专有样式 */
._body {
  position: relative;
  z-index: 0;
}

#before_div {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(100, 100, 100, 0.3);
  text-align: center;
  display: none;
}

#before_div h3 {
  margin-top: 100px;
  color: #555;
}

/*  */
._body_login {
  position: relative;
}

#uname_msg {
  position: absolute;
  z-index: 100;
  top: 95px;
  left: 250px;
  opacity: 0;
  transition: all 0.5s linear;
}

#upwd_msg {
  position: absolute;
  z-index: 100;
  top: 155px;
  left: 250px;
  opacity: 0;
  transition: all 0.5s linear;
}

#toast,
#toast2 {
  color: #eee;
  opacity: 0;
  width: 240px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  position: absolute;
  top: 150px;
  left: 40%;
  border-radius: 10px;
  background: #66666673;
  transition: opacity 0.3s linear;
}